<div class="careers">
<video muted autoplay loop src="https://postingpanda.blob.core.windows.net:443/clientpublicassets/tortilla/video/Tortilla%20Brand%20Ad%20-%2030%20Second.m4v"></video>

<div class="rollWithUs">
 <p class="rollText">ROLL WITH US</p>   
 <div class="description-rollWithUs"> 
    <img src="https://postingpanda.blob.core.windows.net:443/clientpublicassets/tortilla/img/aboutus/Tortilla-Lincoln%20-NSO-203.jpg">
    <div>
         <p>A career at Tortilla isn't just a job, it's family. We're all about support and progression and will roll with you every step of the way from Team Member to Shift Leader, Kitchen Supervisor to General Manager and your future role at Tortilla HQ.</p>
         <p>Fresh delicious food, vibrant restaurants, and friendly, enthusiastic teams – your home here is ready when you are.</p>
    </div>
 </div>
</div>

<div class="values">
<p class="values-title">OUR VALUES</p>
<p class="values-sub-description">Here at Tortilla, we're not just all about delivering mouth-watering burritos; we are also dedicated to upholding our core WRAP values - be it in every bite, or keeping them alive amongst our entire crew!</p>
<img src="https://postingpanda.blob.core.windows.net/clientpublicassets/tortilla/img/values/Values.png">
</div>

<div class="perks">
<p class="perks-title">CLUB PERKS</p>
<div class="club-perks">

<div class="perk-card"> 
<img src="https://postingpanda.blob.core.windows.net:443/clientpublicassets/tortilla/img/perks/free-meals.png">
<p class="main">Delicious free meals on shifts</p>
<p class="sub">Every shift you work we’ll say thank you with a meal of your choice. Who doesn’t love free tacos?! </p>
</div>

<div class="perk-card"> 
<img src="https://postingpanda.blob.core.windows.net:443/clientpublicassets/tortilla/img/perks/holidays.png">
<p class="main">33 days paid holiday per year</p>
<p class="sub">If you work as a Manager we’ll give you 33 days paid holiday per year rather than the standard 28. You work hard for us, so we want to make sure you can enjoy some downtime!</p>
</div>

<div class="perk-card"> 
<img src="https://postingpanda.blob.core.windows.net:443/clientpublicassets/tortilla/img/perks/social.png">
<p class="main">Epic social events for the team</p>
<p class="sub">We put a percentage of profit from each store into a fund for the team to spend on whatever they want</p>
</div>

</div>
</div>

<div class="comment">
<p class="comment-title">"WORKING AT TORTILLA IS SO MUCH FUN AND THE FOOD IS DELICIOUS!" </p>
<p class="comment-sub">Olivia P, Oxford Circus Store</p>
</div>

</div>
