<div class="whats-on">
<p class="title">WHAT'S ON</p>
<p class="title-sub">Hey burrito head. Knowledge is power.</p>
<p class="title-sub">Get the fresh scoop from Tortilla.</p>
</div>
<!--NEWS CARDS-->
<div class="cards">
    
<div class="card">
<img src="https://a.storyblok.com/f/158888/1620x1080/4127537e91/1000068078.jpg/m/768x0">
<p class="card-title">EUROS 2024 x TORTILLA </p>
<p class="card-para">14 June 2024</p>
<p class="card-para">The kick you NEED before kick...</p>
<div class="arrow-container">
 <img class="arrow" src="https://www.tortilla.co.uk/assets/images/chevron-blue.svg">
</div>
</div>
<div class="card">
    <img src="https://a.storyblok.com/f/158888/3750x1875/e4b07daf42/email_fotm-june_goat.jpg/m/768x0">
    <p class="card-title">The Greatest (Burrito) of All Time </p>
    <p class="card-para">3 June 2024</p>
    <p class="card-para">INTRODUCING OUR FLAVOUR OF THE...</p>
    <div class="arrow-container">
     <img class="arrow" src="https://www.tortilla.co.uk/assets/images/chevron-blue.svg">
    </div>
</div>
<div class="card">
    <img src="https://a.storyblok.com/f/158888/600x338/eb87c069b1/dip-gif-for-email-with-text-small.gif/m/768x0">
    <p class="card-title">What's Up Salsa Lovers? </p>
    <p class="card-para">12 March 2024</p>
    <p class="card-para">We're injecting more flavour & fun into the menu this month, including a NEW and improved salsa range and collaborating with Uber Eats to celebrate...</p>
    <div class="arrow-container">
     <img class="arrow" src="https://www.tortilla.co.uk/assets/images/chevron-blue.svg">
    </div>
</div>
<div class="card">
    <img src="https://a.storyblok.com/f/158888/3750x1875/eb6cc7eafc/email_fotm-may_spring-breaker.jpg/m/768x0">
    <p class="card-title">Get Ready for Spring with May's FOTM </p>
    <p class="card-para">29 April 2024</p>
    <p class="card-para">INTRODUCING OUR FLAVOUR OF THE...</p>
    <div class="arrow-container">
     <img class="arrow" src="https://www.tortilla.co.uk/assets/images/chevron-blue.svg">
    </div>
</div>
</div>
<!--UNITED GOALS-->
<div class="united-goals">
<p class="united-goals-title">OUR UNITED NATIONS GOALS</p>
</div>