<div class="footer"> 
  <div class="upper-section">
    <p class="title">EGYPTIAN TORTILLA</p>  
    <div class="tag-container">
      <p>Contact</p>
      <p>FAQ</p>
    </div>
    <div class="tag-container">
      <p>Media</p>
      <p>T&Cs</p>
    </div>
    <div class="tag-container">
      <p>Investors</p>
      <p>Property</p>
    </div>
    <div class="tag-container">
      <p>Cookies</p>
      <p>Privacy</p>
    </div>
    <div class="icons">
      <div class="social"> 
        <i class="fa-brands fa-facebook-f fa-2x" style="color: whitesmoke;"></i>
        <i class="fa-brands fa-youtube fa-2x" style="color: whitesmoke;"></i>
      </div>
      <button>JOIN THE CLUB</button>
    </div>
  </div>
  <div class="lower-section">
    <p>Tortilla Mexican Grill PLC. Registered Office 1st Floor, Evelyn House, 142 New Cavendish Street, London W1W 6YF.
      Registration no 13511888. Registered in England and Wales. VAT no 310 0475 61</p>
  </div>

</div>
