<div class="join-club">
<div>
<p class="title">CLUB TORTILLA</p>
<p class="sub-title">Nothing beats burritos... apart from FREE burritos that is! Join Club Tortilla to start earning stamps & rewards.</p>
<p class="sub-title">With Club Tortilla, buy 5 mains & get your 6th main free! Plus other epic, exclusive perks.</p>
<button class="button" [routerLink]="['/register']">JOIN NOW</button>
</div>

<div>
<img src="https://a.storyblok.com/f/158888/961x432/d334e3a486/loyalty-card_exploding-burrito.png/m/768x0">
</div>
</div>
<!--MARQUEE-->
<div class="banner">
    <div class="marquee">
        <p> 🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE   🌯 BUY 5, GET 1 FREE  </p>
       
    </div>
</div>
<!--CLUB PERKS-->
<div class="club-perks">
<p class="title-perks">CLUB PERKS</p>
<div class="perks">
<div class="perk">
<img class="perk-img" src="https://a.storyblok.com/f/158888/700x700/ea417ef9af/club_insider.png/m/600x0">
<p class="perk-text1">Flavour of the Month</p>
<p class="perk-text2">A delicious monthly special earning you <b>DOUBLE STAMPS</b> with every order </p>
</div>
<div class="perk">
 <img class="perk-img" src="https://a.storyblok.com/f/158888/700x700/a268e79434/club_perk.png/m/600x0">
 <p class="perk-text1">Bonus Stamp</p>
<p class="perk-text2">Sign up perks! Sign up & we'll hook you up with 1 bonus stamp as a cheeky welcome gift. </p>
</div>
<div class="perk">
    <img class="perk-img" src="https://a.storyblok.com/f/158888/700x700/8d35b3f973/taco-tuesday.png/m/600x0">
    <p class="perk-text1">Saucy specials</p>
    <p class="perk-text2">Every time we launch a new special, you'll be first to know and generally we'll hook you up with a free taster!</p>
</div>
</div>
</div>
<!--HOW IT WORKS-->
<div class="howitworks">
<img class="howitworks-image" src="https://a.storyblok.com/f/158888/423x423/5edc21c563/club-update.png/m/768x0">
<div class="howitworks-description">
<p class="howitworks-title">How it works</p>
<p class="howitworks-no">1. Join the club</p>
<p class="howitworks-paragraph"> <b style="cursor: pointer;" [routerLink]="['/register']">Click here</b> to create an account & we'll give you 1 bonus stamp!</p>
<p class="howitworks-no">2. Add to wallet</p>
<p class="howitworks-paragraph">You will receive a welcome email to download & add your Tortilla Club Loyalty Card to phone wallet.</p>
<p class="howitworks-no">3. Tap</p>
<p class="howitworks-paragraph">Open your Tortilla loyalty card from your wallet & scan the QR code at the till to earn stamps & redeem rewards.</p>
<p class="howitworks-no">4. Earn stamps</p>
<p class="howitworks-paragraph">Buy 1 main to earn 1 stamp. Your total stamps will appear on your card.</p>
<p class="howitworks-no">5. Redeem rewards</p>
<p class="howitworks-paragraph">Collect 5 stamps & get 1 free main of your choice. (Valid for 30 days, check expiry dates by clicking 'show pass details' on your card.).</p>
</div>
</div>